<h1>My Trips</h1>
<div class="cards">
  <% @trips.each do |t| %>
    <%= link_to (trip_path(t)) do %>
      <% unless t.flights.empty? %>
      <div class="card">
        <p class="where"><%= "Trip to #{t.flights[0].destination}" %></p>

        <div class="arrows">
          <div class="flags">
            <% c = ISO3166::Country.find_country_by_name("#{t.flights[0].departure}") %>
              <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="flag">
            <%= image_tag("triangle-index.png", class:"triangle-image") %>
            <% c = ISO3166::Country.find_country_by_name("#{t.flights[0].destination}") %>
              <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="flag">
            <%= image_tag("triangle-index.png", class:"triangle-image") %>
            <% c = ISO3166::Country.find_country_by_name("#{t.flights[0].departure}") %>
              <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="flag">
          </div>
          <div class="arrow">
          <%= image_tag("index-arrow.jpg", class:"arrow-image") %>
          </div>
        </div>
         <p class="description">Check out more infos about your trip</p>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
