<% c = ISO3166::Country.find_country_by_name(@trip.home) %>
<% d = ISO3166::Country.find_country_by_name(@trip.destination) %>

<!-- THIS <BR> IS A TEMPORARY SOLUTION -->
<br>
<div class="header">
  <!-- SVG + ✈ + COUNTRY CODES start -->
  <div class="top-mark mt-6" style="position: relative;">
    <svg width="343" height="12" viewBox="0 0 343 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="337" cy="6" r="5.5" stroke="black"/>
    <circle cx="6" cy="6" r="5.5" stroke="black"/>
    <line x1="11" y1="5.5" x2="331" y2="5.5" stroke="black" stroke-opacity="0.46" stroke-dasharray="5 5"/>
    </svg>

    <p style="position: absolute; top: -5px; left: 47%; color: #282828; background-color: #eaeeef; font-size: 24px;">✈</p>
  </div>
  <div class="container-show d-flex justify-content-between" style="color: #282828; margin-top: -12px;">
    <h2><%= c.alpha3 %></h2>
    <h2><%= d.alpha3 %></h2>
  </div>
</div>
  <!-- SVG + ✈ + COUNTRY CODES end -->
<div class="container-show">
  <div class="top-show-card">
    <% if @trip.flights %>
      <%= link_to 'View my flights', trip_flights_path(@trip), class: "search-for-flights" %>
    <% else %>
      <%= link_to 'Search for flights', new_trip_trip_flight_path(@trip), class: "search-for-flights" %>
    <% end %>
  </div>
  <!-- 1st TRIP CARD start -->
  <div class="show-card">
    <div class="flexbox-panel">
      <div class="flex-item" id="align-left">
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= @trip.home %></p>
      </div>
      <div class="flex-item">
        <h3>🛫</h3>
      </div>

      <div class="flex-item" id="align-right" >
        <img src="https://www.countryflags.io/<%= d.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= @trip.destination %></p>
      </div>
    </div>
      <div class="extra-infos">
        <i class="fas fa-head-side-mask"></i>
        <p class="font_text1"><%= @mask_required_destination %></p>
      </div>
      <div class="extra-infos">
        <i class="fas fa-vial"></i>
        <p class="font_text1"><%= @test_type_destination %></p>
      </div>


    <!-- Button trigger modal -->
    <p style="color: grey; margin-top: 8px;" data-toggle="modal" data-target="#exampleModal1">
      More info
    </p>
  </div>
</div>
<!-- 1st TRIP CARD end -->


<!-- MODAL CARD 1 start -->
<div class="modal fade" id="exampleModal1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your trip to <%= @trip.destination %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

  <!-- MODAL 1 BODY start -->
    <div class="flexbox-panel">
      <div class="flex-item" id="align-left">
        <% c = ISO3166::Country.find_country_by_name(@trip.home) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
        <p><%= @trip.home %></p>
      </div>
      <div class="flex-item">
        <h3>🛫</h3>
      </div>
      <div class="flex-item" id="align-right">
        <% c = ISO3166::Country.find_country_by_name(@trip.destination) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
        <p><%= @trip.destination %></p>
      </div>
    </div>
    <!-- icons and the requirements (dashboard) e.g. quarantine -->

    <div class="box_e">
      <i class="fas fa-home"></i>
      <p class="font_text1">up to 14 days</p>
    </div>

    <div class="box_e">
      <i class="fas fa-head-side-mask"></i>
      <p class="font_text1"><%= @mask_required_destination %></p>
    </div>

    <div class="box_e">
      <i class="fas fa-vial"></i>
      <p class="font_text1"><%= @test_type_destination %></p>

    </div>
      <br>

    <ul>
      <li><strong>Test required?</strong> <%= @test_required_destination %> </li><br>
      <li><strong>Test type:</strong> <%= @test_type_destination %></li><br>
      <li><strong>When do you have to take a test:</strong> <%= @when_to_test_destination %></li><br>
      <li><strong>Test type:</strong> <%= @test_type %></li><br>
      <li><strong>Read more infos on the test:</strong> <%= @test_more_infos_destination.html_safe %></li><br>
      <li><strong>Read more infos on the quarantine:</strong> <%= @quarantine_more_infos_destination.html_safe %></li><br>
      <li><strong>Exit requirments:</strong><%= @exit_requirments_destination.html_safe %> </li><br>
      <li><strong>More infos on the exit rules:</strong> <%= link_to "#{@exit_rules_link_home}", @exit_rules_link_home, class: "link-exit-rules" %></li>
    </ul>
  </div>
      <!-- MODAL BODY end -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL CARD 1 end -->

<div class="container-show">
  <div class="show-card">

    <!-- flags and the name of the country -> change this to a flexbox-->
    <div class="flexbox-panel">
      <div class="flex-item" id="align-left">
        <% c = ISO3166::Country.find_country_by_name(@trip.home) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= @trip.home %></p>
      </div>
      <div class="flex-item">
        <h3 style="transform: scalex(-1);">🛫</h3>


      </div>
      <div class="flex-item" id="align-right">
        <% c = ISO3166::Country.find_country_by_name(@trip.destination) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= @trip.destination %></p>
      </div>


    </div>
      <div class="extra-infos">
        <i class="fas fa-head-side-mask"></i>
        <p class="font_text1"><%= @mask_required_home %></p>
      </div>
      <div class="extra-infos">
        <i class="fas fa-vial"></i>
        <p class="font_text1"><%= @test_type_home %></p>
      </div>
    <p style="color: grey; margin-top: 8px;" data-toggle="modal" data-target="#exampleModal2">
      More info
    </p>



  </div>
</div>

<!-- MODAL CARD 2 start -->
<div class="modal fade" id="exampleModal2" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your trip to <%= @trip.home %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!-- MODAL CARD 2 BODY start -->
<div class="flexbox-panel">
  <div class="flex-item" id="align-left">
    <% c = ISO3166::Country.find_country_by_name(@trip.home) %>
    <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
    <p><%= @trip.home %></p>
  </div>
  <div class="flex-item">
    <h3 style="transform: scalex(-1);">🛫</h3>
  </div>
  <div class="flex-item" id="align-right">
    <% c = ISO3166::Country.find_country_by_name(@trip.destination) %>
    <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
    <p><%= @trip.destination %></p>
  </div>
</div>
  <!-- icons and the requirements (dashboard) e.g. quarantine -->
  <div class="box_e">
      <i class="fas fa-home"></i>
      <p class="font_text1">up to 14 days</p>
    </div>

    <div class="box_e">
      <i class="fas fa-head-side-mask"></i>
      <p class="font_text1"><%= @mask_required_home %></p>
    </div>

    <div class="box_e">
      <i class="fas fa-vial"></i>
      <p class="font_text1"><%= @test_type_home %></p>

    </div>
  <br>
  <ul>
    <li><strong>Test required?</strong> <%= @test_required_home %> </li><br>
    <li><strong>Test type:</strong> <%= @test_type_home %></li><br>
    <li><strong>When do you have to take a test:</strong> <%= @when_to_test_home %></li><br>
    <li><strong>Test type:</strong> <%= @test_type %></li><br>
    <li><strong>Read more info on the test:</strong> <%= @test_more_infos_home.html_safe %></li><br>
    <li><strong>Read more info on the quarantine:</strong> <%= @quarantine_more_infos_home.html_safe %></li><br>
    <li><strong>Exit requirments:</strong><%= @exit_requirments_home.html_safe %> </li><br>
    <li><strong>More infos on the exit rules:</strong> <%= link_to "#{@exit_rules_link_home}", @exit_rules_link_home, class: "link-exit-rules" %></li>
  </ul>
</div>
<!-- MODAL CARD 2 BODY end -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<div class="nav-bar">
  <!-- nav-bar -->
</div>
