<div class="header">
  <!-- title and stuff -->
  <h1 class="title"> Trip to <%=@trip.destination%> </h1>
</div>
<div class="container-show">

  <div class="show-card">
    <!-- flags and the name of the country -> change this to a flexbox-->
    <div class="flexbox-panel">
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(@trip.home) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= @trip.home %></p>
      </div>
      <div class="flex-item">
        <%= image_tag "arrow.png", class:"img-show-page-arrow-trips" %>
      </div>
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(@trip.destination) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= @trip.destination %></p>
      </div>
    </div>
    <%= link_to "More info here", flight_path(@trip) %>
  </div>
</div>
<div class="nav-bar">
  <!-- nav-bar -->
</div>
