<div class="header">
  <!-- title and stuff -->
  <h1 class="title"> Trip to <%=@trip.flights[0].destination%> </h1>
</div>
<% @trip.flights.each do |flight| %>
<div class="container-show">

  <div class="show-card">
    <!-- date only is hard coded-->
    <div class="date">

      <% @trip.flights.each do |flight| %>

      <% end %>

    </div>
    <!-- flags and the name of the country -> change this to a flexbox-->
    <div class="flexbox-panel">
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(flight.departure) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= flight.departure %></p>
      </div>
      <div class="flex-item">
        <%= image_tag "arrow.png", class:"img-show-page-arrow-trips" %>


      </div>
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(flight.destination) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-trips">
        <p><%= flight.destination %></p>
      </div>
    </div>

      <div class="extra-infos">
        <i class="fas fa-head-side-mask"></i>
        <p class="font_text1"><%= @mask_required %></p>
      </div>
      <div class="extra-infos">
        <i class="fas fa-vial"></i>
        <p class="font_text1"><%= @test_type %></p>
      </div>

    <%= link_to "More info here", flight_path(flight) %>
  </div>
</div>
<% end %>
<div class="nav-bar">
  <!-- nav-bar -->
</div>
