<div class="container">
  <div id="show-card">
    <!-- date only -->
    <div class="date">
      <b><%= @flight.date %></b>
    </div>
    <!-- flags and the name of the country -> change this to a flexbox-->
    <div class="country_overview">
      <div class="item_a">
        <%= image_tag "Germany.png", class:"img-show-page" %>
      </div>
      <div class="item_b">
        <%= image_tag "arrow.png", class:"img-show-page" %>
      </div>
      <div class="item_c">
        <%= image_tag "Sweden.png", class:"img-show-page" %>
      </div>
      <div class="item_d">
        <b>Germany</b>
      </div>
      <div class="item_e">

      </div>
      <div class="item_f">
        <b>Sweden</b>
      </div>
    </div>
    <!-- icons and the requirements (dashboard) e.g. quarantine -->
    <div class="icons_overview">
      <div class="box_a">
        <%= image_tag "house.png", class:"img-show-page" %>
      </div>
      <div class="box_a_text">
        <b>10 days</b>
      </div>
      <div class="box_b">
        <%= image_tag "shopping.png", class:"img-show-page" %>
      </div>
      <div class="box_b_text">
        <b class="font_text">open</b>
      </div>
      <div class="box_c">
        <%= image_tag "mask.png", class:"img-show-page" %>
      </div>
      <div class="box_c_text">
        <b class="font_text">not required</b>
      </div>
      <div class="box_d">
        <%= image_tag "meal.png", class:"img-show-page" %>
      </div>
      <div class="box_d_text">
        <b class="font_text">open</b>
      </div>
      <div class="box_e">
        <%= image_tag "test.png", class:"img-show-page" %>
      </div>
      <div class="box_e_text">
        <b class="font_text">Anti-Gen required</b>
      </div>
      <div class="box_f">
        <%= image_tag "disco.png", class:"img-show-page" %>
      </div>
      <div class="box_f_text">
        <b class="font_text">not open</b>
      </div>
    </div>
    <!-- all the other information -->
    <div class="further_info">
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
    </div>
  </div>
</div>
