<div class="header">
  <!-- title and stuff -->
  <h1 class="title">Trip to <%=@flight.destination%></h1>
</div>
<div class="container-show">
  <div class="show-card">
    <!-- date only is hard coded-->
    <div class="date">
    
    </div>
    <!-- flags and the name of the country -> change this to a flexbox-->

    <div class="flexbox-panel">
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(@flight.departure) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
        <p><%= @flight.departure %></p>
      </div>
      <div class="flex-item">
        <%= image_tag "arrow.png", class:"img-show-page-arrow-flights" %>
      </div>
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(@flight.destination) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
        <p><%= @flight.destination %></p>
      </div>
    </div>
    <!-- icons and the requirements (dashboard) e.g. quarantine -->
    <div class="icons_overview">
      <div class="box_a">
        <%= image_tag "house.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">10 days</p>
      </div>
      <div class="box-empty-1">
      </div>
      <div class="box_b">
        <%= image_tag "shopping.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">open</p>
      </div>
      <div class="box_c">
        <%= image_tag "mask.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">not required</p>
      </div>
      <div class="box-empty-1">
      </div>
      <div class="box_d">
        <%= image_tag "meal.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">open</p>
      </div>
      <div class="box_e">
        <%= image_tag "test.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">Anti-Gen required</p>
      </div>
      <div class="box-empty-1">
      </div>
      <div class="box_f">
        <%= image_tag "club.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">not open</p>
      </div>
    </div>
    <!-- all the other information -->
    <div class="further_info">
      <p>
      1. Baggage Drop-off and Check in
      The deadline for the check-in remains unchanged.
      Hall A only.
      2. Hygiene & Health Procedures
      Protective equipment (i.e. mask) required as of entering the terminal.
      No restrictions for accompanying partners at the airport.
      No mandatory health checks or tests are performed at the terminal entrance.
      Depends on rules due to origin or destination.
      3. Time Management at Airport
      No additional waiting time expected due to Covid-19 measures.
      Floor markings to keep physical distance have been introduced.
      4. Baggage Claim
      Max. 2 piece of hand luggage incl. personal item are allowed at the security control.
      Floor markings to keep physical distance have been introduced.
      5. Boarding
      For short & medium haul flights:
      Please listen to the gate announcements and wait until your boarding group is called.
      Use our automatic boarding gates for contactless boarding.
      Please adhere to the social distancing requirements and follow the instructions from our gate team
      For long haul flights:
      Please listen to the gate announcements and follow the boarding instructions.
      Use our automatic boarding gates for contactless boarding.
      Please adhere to the social distancing requirements and follow the instructions from our gate team
      6. Deboarding
      Please adhere to the announcements and instruction from our cabin crew.
      Consider your fellow passengers and maintain social distancing upon leaving the aircraft.
      </p>
    </div>
  </div>
</div>
<div class="nav-bar">
  <!-- nav-bar -->
</div>
