<div class="header">
  <!-- title and stuff -->
  <%= link_to trip_path do %>
  <%= image_tag "arrow.png", class: "img-show-page-arrow-back"%>
  <% end %>
  <h1 class="title">Trip to <%=@flight.destination%></h1>
</div>
<div class="container-show">
  <div class="show-card">
    <!-- date only is hard coded-->
    <div class="date">
      <p><%=@flight.date%></p>
    </div>
    <!-- flags and the name of the country -> change this to a flexbox-->

    <div class="flexbox-panel">
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(@flight.departure) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
        <p><%= @flight.departure %></p>
      </div>
      <div class="flex-item">
        <%= image_tag "arrow.png", class:"img-show-page-arrow-flights" %>
      </div>
      <div class="flex-item">
        <% c = ISO3166::Country.find_country_by_name(@flight.destination) %>
        <img src="https://www.countryflags.io/<%= c.alpha2 %>/flat/64.png" class="img-show-page-flag-flights">
        <p><%= @flight.destination %></p>
      </div>
    </div>
    <!-- icons and the requirements (dashboard) e.g. quarantine -->
    <div class="icons_overview">
      <div class="box_a">
        <%= image_tag "house.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">10 days</p>
      </div>
      <div class="box-empty-1">
      </div>
      <div class="box_b">
        <%= image_tag "shopping.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">open</p>
      </div>
      <div class="box_c">
        <%= image_tag "mask.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">not required</p>
      </div>
      <div class="box-empty-1">
      </div>
      <div class="box_d">
        <%= image_tag "meal.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">open</p>
      </div>
      <div class="box_e">
        <%= image_tag "test.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">Anti-Gen required</p>
      </div>
      <div class="box-empty-1">
      </div>
      <div class="box_f">
        <%= image_tag "club.png", class:"img-show-page" %>
      </div>
      <div class="box_text">
        <p class="font_text">not open</p>
      </div>
    </div>
    <!-- all the other information -->
    <div class="further_info">
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
      <p>Here is more information</p>
    </div>
  </div>
</div>
<div class="nav-bar">
  <!-- nav-bar -->
</div>
