<div class="container">

  <%= link_to 'Cancel', root_path,  class: "cancel-link" %>

  <div class="top-mark">
    <svg width="299" height="12" viewBox="0 0 343 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="337" cy="6" r="5.5" stroke="black"/>
    <circle cx="6" cy="6" r="5.5" stroke="black"/>
    <line x1="11" y1="5.5" x2="331" y2="5.5" stroke="black" stroke-opacity="0.46" stroke-dasharray="5 5"/>
    </svg>
  </div>

      <div class="form">

      <%= simple_form_for [@trip, @trip_flight] do |f| %>

        <h3><%= @trip.home %> to <%= @trip.destination %></h3>
        <hr>
        <%= f.simple_fields_for :departure_flight do |flight| %>
          <%= flight.input :departure, collection: Airports.all.select {|airport| airport.country == @trip.home}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :destination, collection: Airports.all.select {|airport| airport.country == @trip.destination}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <% end %>

        <h3><%= @trip.destination %> to <%= @trip.home %></h3>
        <hr>
        <%= f.simple_fields_for :return_flight do |flight| %>
          <%= flight.input :departure, collection: Airports.all.select {|airport| airport.country == @trip.destination}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :destination, collection: Airports.all.select {|airport| airport.country == @trip.home}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <% end %>
        <%= f.submit "Next", class: 'flight-submit' %>

      <% end %>
    </div>
</div>
