<div class="container">

  <%= link_to 'Cancel', root_path,  class: "cancel-link" %>

      <div class="top-mark">
      <svg width="148" height="26" viewBox="0 0 148 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="3" y1="13.5" x2="137" y2="13.5" stroke="#C4C4C4" stroke-width="7"/>
      <circle cx="13" cy="13" r="13" fill="#C4C4C4"/>
      <circle cx="135" cy="13" r="13" fill="#C4C4C4"/>
      <circle cx="13" cy="13" r="10" fill="#23786B"/>
      </svg>
    </div>

      <div class="form">

      <%= simple_form_for [@trip, @trip_flight] do |f| %>

        <h3><%= @trip.home %> to <%= @trip.destination %></h3>
        <hr>
        <%= f.simple_fields_for :departure_flight do |flight| %>
          <%= flight.input :departure, collection: Airports.all.select {|airport| airport.country == @trip.home}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :destination, collection: Airports.all.select {|airport| airport.country == @trip.destination}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <% end %>

        <h3><%= @trip.destination %> to <%= @trip.home %></h3>
        <hr>
        <%= f.simple_fields_for :return_flight do |flight| %>
          <%= flight.input :departure, collection: Airports.all.select {|airport| airport.country == @trip.destination}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :destination, collection: Airports.all.select {|airport| airport.country == @trip.home}.sort_by(&:name), label_method: :name, value_method: :iata, input_html: { class: '' } %>
          <%= flight.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <% end %>
        <%= f.submit "Next", class: 'flight-submit' %>

      <% end %>
    </div>
</div>
